body {
    margin: 0px;
}
.box{
    border:5px solid;
    font-size: 5em;
    width:250px;
}
#box1{
    background-color: red;
    margin-bottom: 50px;
    margin-left: 60px;
}
#box2{
    background-color: rgb(47, 144, 255);
    margin: 50px;
}
#box3{
    background-color: beige;
    margin: auto;
}