.container{
    display: flex;
    border:10px solid black;
    height: 90vh;
    /*flex-wrap: wrap;
    align-content:flex-start;
    column-gap: 1em;
    row-gap: 1em;/*
    /*align-items: baseline;*/
    /*justify-content: space-around;*/
    /*flex-direction: column;*/
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 70%);
}
#box2{
    background-color: hsl(51, 100%, 70%);
    order: 1;
}
#box3{
    background-color: hsl(160, 100%, 70%);
}
#box4{
    background-color: hsl(305, 100%, 70%);
}